@page "/Tecnico/Create"
@inject TecnicosServices tecnicosServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

@*HTML*@
<PageTitle>Crear T&eacute;cnico</PageTitle>
<EditForm Model="Tecnico" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center bg-primary text-white">
                <h5 class="card-title">
                    <strong>
                        Registrar T&eacute;cnico
                    </strong>
                </h5>
            </div>

            <div class="card-body">

                @*TecnicoId*@
                <div class="mb-3">
                    <label class="form-label">
                        <strong>T&eacute;cnico ID</strong>
                        <input class="form-control" @bind="Tecnico.TecnicoId" readonly />
                    </label>
                </div>

                @*Nombres*@
                <div class="mb-3">
                    <label class="form-label">
                        <strong>Nombres</strong>
                        <InputText class="form-control" @bind-Value="Tecnico.TecnicoName" />
                        <ValidationMessage For="(() => Tecnico.TecnicoName)" />
                    </label>
                </div>

                @*SueldoHora*@
                <div class="mb-3">
                    <label class="form-label">
                        <strong>Sueldo por hora</strong>
                        <InputNumber class="form-control" @bind-Value="Tecnico.SueldoHora" />
                        <ValidationMessage For="(() => Tecnico.SueldoHora)" />
                    </label>
                </div>

                @*footer*@
                <div class="card-footer text-center mt-2">
                    <div class="btn-group" role="group" aria-label="Acciones unidas">
                        <button type="button" class="btn btn-outline-primary bi bi-file-earmark-plus" @onclick="Nuevo"> Limpiar</button>
                        <button type="submit" class="btn btn-outline-success bi bi-floppy"> Guardar</button>
                        <a href="@AppRoutes.TIndex" class="btn btn-outline-secondary">
                            <span class="bi bi-arrow-left"></span> Volver
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code
{
    private string Mensaje = "";

    private Tecnicos Tecnico { get; set; } = new Tecnicos();

    private async Task Guardar()
    {
        List<Tecnicos> tecnicos = await tecnicosServices.Listar(t => t.TecnicoName == Tecnico.TecnicoName);
        if (tecnicos.Count == 1 && (tecnicos[0].TecnicoId != Tecnico.TecnicoId))
        {
            Mensaje = "Ya existe un T&eacute;cnico con ese nombre";
            return;
        }
        await tecnicosServices.Guardar(Tecnico);
    }

    private void Nuevo()
    {
        Tecnico = new Tecnicos();
        StateHasChanged();
    }
}
